* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
svg, svg *{
    pointer-events: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} 
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#home {
    background: url('../images/istockphoto-1198931639-612x612.jpg') no-repeat center center fixed;
    opacity: 0.9;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home h1{
    padding: 10px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 1  ;
    font-size: 5rem;
    color: rgba(238, 232, 232);
}

/* CSS for the blog container */
#blog-container {
    display: flex;
    flex-direction: column;
}

/* CSS for individual blogs */
.about-blog {
  display: flex;
  flex-direction: row;
}
.blog {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blog h2 {
    font-size: 24px;
    padding: 6px 0;
    color: #333;
}
.blog p {
    padding: 6px 0;
    font-size: 16px;
    color: #666;
}
.blog a {
  padding: 6px 0;
}
.delete, .edit, .like, .comment {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}
.like-comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.like-div, .comment-div {
  margin:0 30px;
}
/* CSS for form container */
form {
    width: 400px;
    margin: 0 auto;
}
  
/* CSS for form labels */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
  
/* CSS for form input fields */
input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
/* CSS for submit button */
input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #45a049;
}

/* login form */
.login-container {
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  .login-container h2 {
    text-align: center;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  } 
  .login-container label {
    margin-top: 10px;
  } 
  .login-container input[type="text"],
  .login-container input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } 
  .login-container  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .login-container button:hover {
    background-color: #45a049;
  }

/* profile styeling */
.profile {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
 .profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.profile h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile p {
  font-size: 16px;
  margin-bottom: 5px;
}

.err {
  background-color: rgb(221, 122, 122);
  color: black;
  text-align: center;
  width: 600px;
  height: 70px;
  margin: auto;
  padding: 10px;
  margin-top: 50px;
}

.pagination {
  display: inline-block;
  display: flex;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  margin: 3px;
}
.pagination a:hover {
  background-color: #f2f2f2;
}
.current-page {
  background-color: #f2f2f2;
}
.search-container {
  text-align: center;
  margin-top: 20px;
}

.search-container input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-size: 16px;
}

.search-container button[type="submit"], post-comment[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.search-container button[type="submit"]:hover {
  background-color: #45a049;
}
