<%- include('layouts/layout') %>
        <% if(statusCode === 404) { %>
            <h1>Page not found</h1>
        <% } else { %>
            <h1>Error occured at server side</h1>
        <% } %>
    </body>
</html>